extends layout

block head
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css')
  link(rel='stylesheet', href='/vendor/prism.css')
block content
  pre.line-numbers
    code(class='language-#{lang}')
      | #{paste}
  script(src='/vendor/prism.js')
  script(src='/vendor/prism-line-numbers.js')
