html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 1800px) {
	.container {
		min-width: 1500px;
	}
}
@media (min-width: 2400px) {
	.container {
		min-width: 1800px;
	}
}
@media (min-width: 2800px) {
	.container {
		min-width: 80%;
	}
}

.display-3 {
	font-size: 5.5rem;
}
@media (max-width: 575.98px) {
	.display-3 {
		font-size: 4rem;
	}
}

textarea {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	line-height: 1.5rem;
	box-shadow: none;
}

label {
	width: 7.5rem;
	font-size: 1.2rem;
}

.border-gray {
	border: 1px solid #ced4da;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 18rem;
}
@media (max-width: 318px) {
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 100%;
	}
}

#highlight {
	max-width: 18rem;
}

#expire {
	max-width: 7.5rem;
}

.bootstrap-touchspin {
	max-width: 7.5rem;
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

#multiplier {
	max-width: 9.5rem;
}

button.btn-lg {
	font-size: 1.5rem;
}
@media (min-width: 768px) {
	button.btn-lg {
		margin-top: -6rem;
	}
}

footer {
	height: 2.5rem;
	bottom: 0;
	line-height: 2rem;
}
